node_modules
dist
dist-ssr
*.local
.DS_Store

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# unplugin 自动生成
src/components.d.ts

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 本地截图临时文件
_shot.png

# gh-pages 部署工作目录
.deploy-gh-pages
